@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loader_outline {
    transform: translate(-50%, -50%);
  }
  .loader_image {
    transform: translate(-50%, -50%);
    animation: scaleUp 1500ms infinite;
  }
  .loader_text {
    animation: rotateSingle 15s infinite;
  }
  .rotator {
    animation: rotateSingle 10s infinite;
  }
  .rotator:hover {
    animation-play-state: paused;
  }
  .brand_gradient {
    background-image: linear-gradient(0deg, #121212 5.38%, rgba(18, 18, 18, 0) 100%);
  }

  @keyframes rotateSingle {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  @keyframes rotateText {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(0.8);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg) scale(0.8);
    }
  }

  @keyframes rotateItem {
    0% {
      transform: translate(-50%, -50%) rotate(0deg) scale(1);
      opacity: 1;
      filter: brightness(100%);
    }

    10% {
      transform: translate(-50%, -50%) scale(0.9);
    }

    20% {
      transform: translate(-50%, -50%) scale(1);
    }

    30% {
      transform: translate(-50%, -50%) scale(0.9);
    }

    40% {
      transform: translate(-50%, -50%) scale(1);
    }

    50% {
      transform: translate(-50%, -50%) scale(0.9);
      filter: brightness(50%);
    }

    60% {
      transform: translate(-50%, -50%) scale(1);
    }

    70% {
      transform: translate(-50%, -50%) scale(0.9);
    }

    80% {
      transform: translate(-50%, -50%) scale(1);
    }

    90% {
      transform: translate(-50%, -50%) scale(0.9);
      filter: brightness(120%);
    }

    100% {
      transform: translate(-50%, -50%) rotate(360deg) scale(0.5);
      opacity: 0;
    }
  }

  @keyframes scaleUp {
    0% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }

    20% {
      transform: translate(-50%, -50%) scale(0.7);
    }

    40% {
      transform: translate(-50%, -50%) scale(1);
    }

    60% {
      transform: translate(-50%, -50%) scale(0.7);
    }

    60% {
      transform: translate(-50%, -50%) scale(1);
    }

    100% {
      transform: translate(-50%, -50%) scale(0.2);
      opacity: 0;
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "Mangolaine";
  src: url("./assets/Mangolaine/Mangolaine_1.eot");
  src: url("./assets/Mangolaine/Mangolaine.eot?#iefix") format("embedded-opentype"),
    url("./assets/Mangolaine/Mangolaine.woff2") format("woff2"),
    url("Mangolaine.woff") format("woff"),
    url("./assets/Mangolaine/Mangolaine.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
